.ios, .md {
page-login {
    ion-title * {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .displayed {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .scroll-content {
      display: flex;
      flex-direction: column;
    }

    .passwordIcon{
      font-size:2rem !important;
      position: relative !important;
      top: 5px !important;
      left: -2px !important;
      margin: 0 auto !important;
    }

    .item-inner {
      padding-left: 0px!important;
      margin-left: 0px!important;
    }

    ion-item {
      border-radius: 10px;
      padding-left: 10px;
      margin-bottom: 10px;
      background-color: #e8ebef !important;
      opacity: 0.7;
      font-size: .9em;
    }

    ion-input {
      ::placeholder {
          color: #9297a0;
      }
    }

    ion-icon {
      color: #9297a0;
      font-size: 16px; 
    }

    ion-list {
      margin: 0;
    }
    button {
      width: 100%;
    }
}
}
