<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <img class="displayed" src="assets/imgs/moolahName.png" padding-top height="65px">
  </ion-navbar>
  <ion-navbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
<ion-navbar></ion-navbar>
</ion-header>

<ion-content padding>
  <ion-icon name="leaf"></ion-icon>
  <h3>Register</h3>
  <p>Let's start with the basics</p>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-row class ="register-form">
      <ion-col>
        <ion-list>
          <ion-item class ="first">
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input type="text" formControlName="firstName" placeholder="First Name"></ion-input>
          </ion-item>
          <div class="alert" *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched">
            This is required.
          </div>
          <ion-item>
            <ion-label><ion-icon name="mail"></ion-icon></ion-label>
            <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
          <div class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
            Please enter a valid email address.
          </div>
          <ion-item>
              <ion-label><ion-icon name="eye"></ion-icon></ion-label>
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label><ion-icon name="eye"></ion-icon></ion-label>
            <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
          </ion-item>
        </ion-list>     
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item class ="first">
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input type="text" formControlName="lastName" placeholder="Last Name"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!--Button is disabled until all of the validation checks (in register.ts) are passed-->
    <button ion-button class="continue-button" [disabled]="!registerForm.valid">Register</button>
  </form>

</ion-content>
