<ion-header>
  <ion-navbar color="primary">
    <img class="displayed" src="assets/imgs/moolahName.png" padding-top height="65px">
  </ion-navbar>
  <ion-navbar color="secondary">
    <ion-title>Invest</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="invest-cards">
  <ion-searchbar
       (ionInput)="filterTech($event.target.value)"></ion-searchbar>

<ion-list>
  <ion-item>
    <ion-label fixed>Category</ion-label>
    <ion-select>
      <ion-option value="all" (ionSelect)="onFilter($event)" selected>All</ion-option>
      <ion-option value="auto" (ionSelect)="onFilter($event)">Auto</ion-option>
      <ion-option value="tech" (ionSelect)="onFilter($event)">Tech</ion-option>
            <ion-option value="food" (ionSelect)="onFilter($event)">Food</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


  <ion-card *ngFor="let port of portfolio">
    <img src="assets/imgs/card-amsterdam.png"/>
    <div class="card-title">{{port.title}}</div>
    <div class="card-subtitle">{{port.risk}}</div>
  </ion-card>


<ion-card *ngFor="let technology of technologies">
  <img src="{{technology.image}}"/>
  <div class="card-title">{{technology.name}}</div>
  <div class="card-subtitle">{{technology.risk}}</div>
</ion-card>
  <!-- <ion-card>
    <img src="assets/imgs/card-amsterdam.png"/>
    <div class="card-title">Smart Beta</div>
    <div class="card-subtitle">Moderate/Risky</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/moon.jpg"/>
    <div class="card-title">Ethical Investing</div>
    <div class="card-subtitle">Moderate/Conservative</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/work-7.jpg"/>
    <div class="card-title">Whole Foods</div>
    <div class="card-subtitle">Very Low</div>
  </ion-card> -->
</ion-content>
